@import '~normalize.css';
@import './variables.scss';

*, *:after, *:before {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0 auto;
    background: var(--body-background-default);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}