@import '~normalize.css';

*, *:after, *:before {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0 auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}